kind: ConfigMap
apiVersion: v1
metadata:
  name: guardrails-gateway
  labels:
    app: fmstack-nlp
data:
  config.yaml: |
    orchestrator:   
      host: "localhost"
      port: 8032

    detectors:

      - name: regex_language
        input: true 
        output: true
        detector_params:
          regex:
            - email                       # registered regex pattern for email addresses
            - us-social-security-number   # registered pattern for social security numbers
            - credit-card                 # registered regex pattern for credit card numbers
            - ipv4                        # registered regex pattern for IPv4 addresses
            - ipv6                        # registered regex pattern for IP6 addresses
            - us-phone-number             # registered regex pattern for US phone numbers
            - uk-post-code                # registered regex pattern for UK post codes
            - $CUSTOM_REGEX               # registered regex pattern for custom input. Replace with a custom regex to define your own regex detector
            #- json                        # registered file type pattern for detecting valid JSON
            #- xml                         # registered file type pattern for detecting valid XML
            #- yaml                        # registered file type pattern for detecting valid YAML
            #- json-with-schema:$SCHEMA    # registered file type pattern for detecting whether the text content satisfies a provided JSON schema. To specify a schema, replace $SCHEMA with a JSON schema
            #- xml-with-schema:$SCHEMA     # registered file type pattern for detecting whether the text content satisfies a provided XML schema. To specify a schema, replace $SCHEMA with an XML Schema Definition (XSD)
            #- yaml-with-schema:$SCHEMA    # registered file type pattern for detecting whether the text content satisfies a provided XML schema. To specify a schema, replace $SCHEMA with a JSON schema (not a YAML schema)

      - name: hap
        input: true 
        output: true
        detector_params: {}

      - name: prompt_injection
        input: true 
        output: true
        detector_params: {}

    routes:         
      - name: all
        detectors:
          - regex_language
          - hap
          - prompt_injection
      - name: passthrough
        detectors:
          - regex_language
          - hap
          - prompt_injection
