kind: ConfigMap
apiVersion: v1
metadata:
  name: guardrails-config
data:
  config.yaml: |
    chat_generation: 
      service:
        hostname: granite4-predictor.sandbox.svc.cluster.local
        port: 8080

    detectors:       
      regex_language:
        type: text_contents
        service:
            hostname: "127.0.0.1"
            port: 8080
        chunker_id: whole_doc_chunker
        default_threshold: 0.5
      #hap:
      #  type: text_contents
      #  service:
      #    hostname: guardrails-detector-ibm-hap-predictor.model-namespace.svc.cluster.local
      #    port: the generation service port (for example 8000)
      #  chunker_id: whole_doc_chunker
      #  default_threshold: 0.5
