kind: ConfigMap
apiVersion: v1
metadata:
  name: guardrails-config
data:
  config.yaml: |
    openai: 
      service:
        hostname: granite4-predictor.sandbox.svc.cluster.local
        port: 8080

    detectors:

      regex_language:
        type: text_contents
        service:
            hostname: "127.0.0.1"
            port: 8080
        chunker_id: whole_doc_chunker
        default_threshold: 0.5
        detector_params:
          regex:
            - email                       # registered regex pattern for email addresses
            - us-social-security-number   # registered pattern for social security numbers
            - credit-card                 # registered regex pattern for credit card numbers
            - ipv4                        # registered regex pattern for IPv4 addresses
            - ipv6                        # registered regex pattern for IP6 addresses
            - us-phone-number             # registered regex pattern for US phone numbers
            - uk-post-code                # registered regex pattern for UK post codes
            - $CUSTOM_REGEX               # registered regex pattern for custom input. Replace with a custom regex to define your own regex detector
            #- json                        # registered file type pattern for detecting valid JSON
            #- xml                         # registered file type pattern for detecting valid XML
            #- yaml                        # registered file type pattern for detecting valid YAML
            #- json-with-schema:$SCHEMA    # registered file type pattern for detecting whether the text content satisfies a provided JSON schema. To specify a schema, replace $SCHEMA with a JSON schema
            #- xml-with-schema:$SCHEMA     # registered file type pattern for detecting whether the text content satisfies a provided XML schema. To specify a schema, replace $SCHEMA with an XML Schema Definition (XSD)
            #- yaml-with-schema:$SCHEMA    # registered file type pattern for detecting whether the text content satisfies a provided XML schema. To specify a schema, replace $SCHEMA with a JSON schema (not a YAML schema)

      hap:
        type: text_contents               # valid values: text_contents, text_generation, text_chat, text_context_doc
        service:
          hostname: hap-detector-predictor
          port: 8000
        chunker_id: whole_doc_chunker
        default_threshold: 0.5

      prompt_injection:
        type: text_contents               # valid values: text_contents, text_generation, text_chat, text_context_doc
        service:
          hostname: prompt-injection-detector-predictor
          port: 8000
        chunker_id: whole_doc_chunker
        default_threshold: 0.5

    routes:
      - name: all
        detectors:
          - regex_language
          - hap
          - prompt_injection
      - name: passthrough
        detectors:
    